<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>

	<key>CFBundleDisplayName</key>
	<string>Dayindai</string>

	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>

	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>

	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>

	<key>CFBundleName</key>
	<string>dayindai</string>

	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>

	<key>CFBundleSignature</key>
	<string>????</string>

	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>

	<key>LSRequiresIPhoneOS</key>
	<true/>

	<!-- 🔐 PERMISSIONS FOR IMAGE PICKER -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Разрешите доступ к галерее для загрузки резюме</string>

	<key>NSCameraUsageDescription</key>
	<string>Разрешите доступ к камере для загрузки резюме</string>

	<!-- UI -->
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>

	<key>UIMainStoryboardFile</key>
	<string>Main</string>

	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>

	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

	<!-- Permissions for Resume Photo Upload -->
	<key>NSCameraUsageDescription</key>
	<string>We need camera access to take a resume photo.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need photo library access to upload a resume photo.</string>

	<key>NSMicrophoneUsageDescription</key>
    <string>Microphone is needed for voice interview</string>

</dict>
</plist>